body {
    background-image:url("https://media.giphy.com/media/ontuGIyllqCRO/giphy.gif");
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}